# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azure Functions artifacts
.python_packages/
.venv/
bin/
obj/
appsettings.json
local.settings.json

# Environment variables
.env
.vscode/

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/
